[Desktop Entry]
Name=COSMIC Vitals Applet
Exec=cosmic-ext-applet-vitals %F
Terminal=false
Type=Application
StartupNotify=true
Icon=dev.eidolon.cosmic-ext-applet-vitals
Categories=COSMIC;Utility;
Keywords=Folder;Manager;
MimeType=inode/directory;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
