[Desktop Entry]
Name=COSMIC Vitals
Exec=cosmic-vitals-applet %F
Terminal=false
Type=Application
StartupNotify=true
Icon=dev.eidolon.cosmic-vitals-applet
Categories=COSMIC;Utility;
Keywords=Folder;Manager;
MimeType=inode/directory;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
